.book
{
	box-shadow:0 0 20px #f9d342;
	width:500px;
	height:510px;
	margin:0 auto;
	text-align:center;
	padding:10px;
	margin-top:5%
	
}
input, p, label, select
{
	display:block;
	text-align:center;
	margin: 0 auto;
	margin-top:5px;
}
.book input[type=text],.login input[type=password] 
{
	width:250px;
	height:30px;
	background:transparent;
	border:1px solid rgba(225,225,225,0.6);
	border-radius:10px;
	color:#fff;
	font-size:16px;
	font-weight:400;
	padding:4px;
	
}

.book input[type=submit],.book input[type=reset],select, .book input[type=date]
{
	width:260px;
	height:35px;
	background:#fff;
	border:1px solid #fff;
	border-radius:10px;
	color:#a18d6c;
	font-size:20px;
	font-weight:400;
	padding:4px;
	margin-top:5px;
}
.book input[type=submit]:hover,.book input[type=reset]:hover
{
	opacity:0.8;
}
.book input[type=submit]:active,.book input[type=reset]:active
{
	opacity:0.6;
}
.book input[type=text]:focus,.login input[type=password]:focus
{
	outline: none;
	border:1px solid rgba(255,255,255,0.9);
}
.book input[type=submit]:focus,.book input[type=reset]:focus,select:focus, input[type=date]:focus
{
	outline:none;
}
::-webkit- input-placeholder,::-moz- input-placeholder 
{
	color:rgba(255,255,255,0.6);
}
p
{
	font-size:20px;
	font-weight:500;
	color:#fff;	
}
p span
{
	font-size:30px ; 
	color:#f9d342;
}
select
{
	text-align:center;
	font-size:20px;
}
.book input[type=date]
{
	margin-top:1px;
	margin-bottom:1px;
	font-size:15px;
	text-align:center;
}
.book:hover
{
	box-shadow:0 0 20px #fff;
	background: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)) ;
}

