html
{
	scroll-behavior: smooth;
}
body
{
	line-height: 1.5;
}

.vid video
{
	
	height:550px;
	border-button: none;
	margin-left:275px;
	box-shadow:0 0 20px #f9d342;
}
.vid video:focus
{
	box-shadow:0 0 20px #c3c3c3;
}
img
{
	width:100%;
	display:block;
}
a{text-decoration:none;}
button
{
	font-size:16px;
	text-transform:uppercase;
	font-weight: 600;
	border:none;
	border-radius:10px;
	padding:10px;
	width:140px;
	display:block;
	margin:15px auto;
	cursor:pointer;
	transition: all 0.7s ease;
}
button:hover
{
	opacity:0.85;
}
button:focus
{
	outline: none;
	border:1px solid rgba(255,255,255,0.9);
}
section
{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align:center;
}
h1, h2, h3, h4, h5,h6
{
	padding:10px;
}
.services
{
	margin:0 auto;
}
.single_rooms, .double_rooms, .family_rooms
{
	background-color:#fff6d1;
	
}
.title
{
	text-transform: uppercase;
	letter-spacing: 3px;
	font-size:35px;
	font-weight:1000;
	color:#f9d342;/*yellow*/
	margin:20px;
	border-bottom: 5px solid #292826;/*dark*/
	width: 700px;
}
.title2
{
	text-transform: uppercase;
	letter-spacing: 3px;
	font-size:30px;
	font-weight:;
	color:#f9d342;/*yellow*/
	margin:35px;
	width: 300px;
}
button
{

	background-color:#f9d342;
	color:#fff;
}
.services_sections
{
	display:grid;
	grid-template-columns:repeat(4,1fr);
	gap:50px;
	padding:20px;
	align-items:center;
}
.services section
{
	box-shadow:0 0 3px #f9d342 ;
	padding:20px;
	font-size:20px;
	font-weight:1000;
	text-align:center;
	background-color:#fff8dd;
	
}
@media(max-width:1000px)
{
	.services_sections
{
	display:grid;
	grid-template-columns:repeat(1,4fr);
	gap:30px;
}
}
.services_sections section h2
{
	opacity:0.7;
}
.single_sections section img, .double_sections section img, .family_sections section img
{
	width:350px;
	height:250px;
	transition: all 0.7s ease;
	overflow:hidden;
}
.single_sections section img:hover, .double_sections section img:hover, .family_sections section img:hover
{
	transform: scale(1.1);
}
.block
{
	width:300px;
	background-color:#292826;
	font-size:20px;
	color:#fff;
	
}
.block button
{
	background-color:#fff;
	color:#292826;
	border:none;
	border-radius:25px;
}
.block span
{
	font-size:40px;
	font-weight:900;
	color:#f9d342;
	opacity:0.9;
	margin-left:20px;
}

.single_sections, .double_sections, .family_sections
{
	display:grid;
	grid-template-columns:repeat(4,1fr);
	gap:30px;
}
@media(max-width:1000px)
{
	.single_sections, .double_sections, .family_sections
{
	display:grid;
	grid-template-columns:repeat(1,10fr);
	gap:30px;
}
}
.block p
{
	justify-content:center;
	line-height:27px;
	margin-left:20px;
	word-spacing:3px;
	font-weight:1000;
}
.block, .single_sections section img, .double_sections section img, .family_sections section img
{
	border:none;
	border-radius:25px;
	box-shadow:0 0 3px #f9d342;
}
.single_rooms, .double_rooms, .family_rooms
{
	padding:10px;
	margin: 0 5 0 5;
	border-radius:25px;
	box-shadow:0 5px 3px 5px #f9d342;
}
.double_rooms, .family_rooms
{
	margin-top:35px;
}
.family_rooms
{
	margin-bottom:100px;
}
.customer_sections img
{
	width:200px;
	height:200px;
	border:none;
	border-radius:100px;
}
.customer_sections
{
	background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(../images/IMG-20210207-WA0022.jpg) center/cover no-repeat fixed ;
}
.Customer 
{
	margin:25px;	
}
.customer_sections
{
	display:grid;
	grid-template-columns:repeat(3,1fr);
	gap:40px;
}
@media(max-width:1000px)
{
	.customer_sections
{
	display:grid;
	grid-template-columns:repeat(1,3fr);
	gap:30px;
}
}
.customer_sections section
{
	background-color:#fff;
	padding:20px;
	font-size:20px;
	font-weight:500;
	border-radius:20px;
	text-align:center;
	cursor:pointer;
	transition: all 0.7s ease;
	box-shadow:0 0 5px rgba(0,0,0,0.75);
	margin:50px;
}
.customer_sections section h3
{
	font-size:30px;
	font-style:bold;	
}
.customer_sections section p
{
	opacity:0.7;
	line-height:1.8;
}
.customer_sections section:hover 
{
	transform: translateY(-18px);
	opacity:0.7;
	cursor:pointer;
}
.customer
{
	margin-bottom:80px;
}
.feedback
{
	width:1000px;
	margin:5 auto;
	padding:20px;
	font-size:25px;
	text-align:left;
	box-shadow:0 0 5px rgba(0,0,0,0.75);
	background-color:#fff8dd;
	margin-bottom:50px;
}
textarea
{
	width:800px;
	height:300px;
	font-size:20px;
	padding:10px;
	line-height:25px;
	word-spacing:5px;
	box-shadow:0 0 5px rgba(0,0,0,0.75);
	border-radius:20px;
	border:none;
}
.send_feedbak
{ 
	margin-left:30px;
	padding:20px;
	line-height:50px;
}
.send_feedbak label
{
	letter-spacing: 3px;
	font-weight:1000;
	color:#d3c802;/*yellow*/
}
.send_feedbak input[type=text]
{
	width:250px;
	height:40px;
	font-size:17Spx;
	padding:10px;
	line-height:25px;
	word-spacing:5px;
	box-shadow:0 0 5px rgba(0,0,0,0.75);
	border-radius:20px;
	border:none;
}
.send_feedbak input[type=text]:focus, .send_feedbak textarea:focus, .send_feedbak input[type=submit]:focus
{
	outline: none;
	border:1px solid rgba(255,255,255,0.9);
}
video:focus
{
	outline: none;
}
.send_feedbak input[type=submit]
{
	width:260px;
	height:35px;
	background-color:#f9d342;
	color:fff;
	border:1px solid #fff;
	border-radius:10px;
	font-size:16px;
	font-weight:400;
	padding:4px;
	margin-left:300px;
}
::-webkit- input-placeholder,::-moz- input-placeholder 
{
	color:rgba(255,255,255,0.6);
}
.contact
{
	width:500px;
	margin:0 auto;
	margin-top:40px;
	margin-bottom:40px;
	padding:20px;
	box-shadow:0 0 5px rgba(0,0,0,0.75);
	font-size:20px;
	font-weight:1000;
	text-align:center;
	background-color:#fff8dd;
	border-radius:15px;
	transition: all 0.7s ease;
	
}
.info .s
{
	display:grid;
	grid-template-columns:repeat(2,1rf);
}
.info img
{
	width:150px;
	height:150px;
	border:none;
	border-radius:80px;
}

.contac h2
{
	text-transform: uppercase;
	letter-spacing: 3px;
	font-size:35px;
	font-weight:1500;
	color:#f9d342;/*yellow*/
}
.info span
{
    font-size:25px;
	font-weight:900;
	color:#f9d342;
	opacity:0.9;
	margin-left:20px;
}
.contact:hover
{
	transform: translateY(-18px);
}
footer
{
	background-color: #292826;
	color:#fff;
	padding:10px;
	font-size:15px;
	text-align:center;
	display:block;
	
}
footer i, footer span
{
	display:block;
}
footer .soc_icon i
{
	display:inline;
}

footer p
{
	font-size:15px;
	font-style:bold;
	font-weight:1000;
}



